* {
    box-sizing: border-box;
    text-align: center;

  }
  
  .clearfix::after {
    content: "";
    clear: both;
    display: table;
    overflow: auto;
  }

  #logo{
    height: 150px;
    width: 100%;
}

#main-content-section{
    background-image: url('../images/funky-lines.png');
    min-height: 625px;
    height: 100%;
}

.fivImg{
  max-width: 250px;
}
